<h1>  Details of Consumers </h1>
<h2> <strong> Name :</strong> <i> <%= @consumer.name %> </i></h2>
 <h2> <strong> Name :</strong> <i> <%= @consumer.address %> </i></h2>

 <%= link_to "Back to index", root_path %>