<h1>  Details of Shop </h1>
<h2> <strong> Name :</strong> <i> <%= @shop.name %> </i></h2>
 <h2> <strong> Name :</strong> <i> <%= @shop.description %> </i></h2>

 <%= link_to "Back to index", root_path %>