<h1>  Details of user </h1>


 <h2> <strong> Name :</strong> <i> <%= @user.name %> </i></h2>
 <h2> <strong> Name :</strong> <i> <%= @user.start_date %> </i></h2>
 <h2> <strong> Name :</strong> <i> <%= @user.end_date %> </i></h2>

 <p><a href="/users/index"> Back to User Index </a></p>
