<h1>  Details of Journal </h1>


 <h2> <strong> Name :</strong> <i> <%= @product.name %> </i></h2>
 <h2> <strong> Name :</strong> <i> <%= @product.code %> </i></h2>
 <h2> <strong> Name :</strong> <i> <%= @product.description %> </i></h2>

 <%= link_to "Back to index", root_path %>